<div class="container">

	<form name="form" class="form-horizontal" ng-submit="save(form)" novalidate>
		<div class="form-group" ng-class="{ 'has-error': form.speaker.$dirty && form.speaker.$invalid }">
			<label class="col-sm-2 control-label" for="speaker">Speaker</label>
			
			<div class="col-sm-10">
				<input type="text" class="form-control" id="speaker" name="speaker" ng-model="session.speaker" required>
				<span class="help-block" ng-show="form.speaker.$error.required">Please enter the speaker's name</span>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$invalid }">
			<label class="col-sm-2 control-label" for="title">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="title" name="title" ng-model="session.title" required>
				<span class="help-block" ng-show="form.title.$error.required">Please enter the proposed session title</span>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': form.abstract.$dirty && form.abstract.$invalid }">
			<label class="col-sm-2 control-label" for="abstract">Abstract</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="abstract" name="abstract" ui-tinymce="tinymceOptions" ng-model="session.abstract" rows="12" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="bio">Bio</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="bio" name="bio" ui-tinymce="tinymceOptions" ng-model="session.bio" rows="8" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
		
	</form>

</div>
