<div class="container">

	<form name="program-form" class="form-horizontal">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="speaker">Speaker</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="speaker" ng-model="session.speaker">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="title">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="title" ng-model="session.title">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="abstract">Abstract</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="abstract" ui-tinymce="tinymceOptions" ng-model="session.abstract" rows="15" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="model">Bio</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="model" ui-tinymce="tinymceOptions" ng-model="session.bio" rows="15" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
		
	</form>

</div>
